
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    @await Component.InvokeAsync("HeadUILayoutComponentPartial") 
</head>
<body>

    @await Component.InvokeAsync("NavbarUILayoutComponentPartial")

    @await Component.InvokeAsync("MainCoverUILayoutComponentPartial")

   @RenderBody()

    @await Component.InvokeAsync("FooterCoverUILayoutComponentPartial")

    @await Component.InvokeAsync("ScriptCoverUILayoutComponentPartial")
</body>
</html>