
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    @await Component.InvokeAsync("_HeadUILayoutComponentPartial") 
</head>
<body>

    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

    @await Component.InvokeAsync("_MainCoverUILayoutComponentPartial")

   @RenderBody()

    @await Component.InvokeAsync("_FooterCoverUILayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptCoverUILayoutComponentPartial")
</body>
</html>